<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Order # <%= @order.sn %></h3>
  </div>
  <div class="panel-body">
    <div class="col-sm-6">

    </div>
    <div class="col-sm-6">

    </div>
  </div>
</div>