<h1><%= link_to "Add New Product", "" %></h1>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Image</th>
      <th>Price</th>
      <th>Option</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= image_tag product.image, width: "120px" %></td>
        <td>$ <%= product.price %></td>
        <td>
          edit | detial
        </td>
        <td>D</td>
      </tr>
    <% end %>
  </tbody>
</table>