<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <div class="row">
      <div class="col-sm-3">
        <%= image_tag @product.image, width: "100%" %>
      </div>
      <div class="col-sm-9">
        <h3><%= @product.name %></h3>
        <h4>$ <%= @product.price %></h4>
        <p><%= @product.description %></p>
      </div>
    </div>
  </div>
</div>