<h1>Products List</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= image_tag product.image, width: "50px" %></td>
        <td><%= product.name %></td>
        <td><%= truncate product.description, length: 80 %></td>
        <td><%= product.price %></td>
      </tr>
    <% end %>
  </tbody>
</table>